<app-centered-card title="Sign in">
  <button
    type="button"
    mat-raised-button
    color="default"
    (click)="fbLogin()"
    style="margin-top: 16px"
  >
    <img src="assets/icons/fb.svg" alt="facebook logo"/>
    &nbsp;&nbsp;
    SIGN IN WITH FACEBOOK
  </button>
</app-centered-card>
